body {
  background-color: #587a75;
  background-image: url(./Kuvat/meri.png);
  background-repeat: no-repeat;
}

a {
  font-size: 20px;
  color: #1f2617;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*Landing sivu*/
.landing > #first_pic {
  width: max-content;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.center_button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eef2df;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 6%;
  width: 12%;
  height: 6%;
  border: #eef2df solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centered_link {
  padding-left: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*Kaikkien sivujen navigaatio*/
.nav {
  background-color: #eef2df;
  width: 20%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 3%;
  color: #4d5955;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav > h1 {
  margin-left: 4%;
}

.hovered_nav {
  background-color: white;
}

.nav_button {
  width: 100%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.nav_button:hover {
  background-color: white;
}

.top_nav {
  margin-top: 20%;
}

.some {
  margin-top: 20%;
  margin-left: 20%;
}

#linkedin {
  width: 8%;
  position: fixed;
  z-index: 1;
  top: 70%;
  left: 5%;
}

#github {
  width: 4.5%;
  position: fixed;
  z-index: 1;
  top: 73%;
  left: 14%;
}

/*Gridien pohja muotoilut*/

.grid-container {
  display: grid;
  float: right;
  grid-template-columns: 40% 40%;
  grid-template-rows: 60% 60%;
  grid-gap: 3%;
  margin-top: 13%;
  margin-left: 30%;
}

.grid-container > div {
  background-color: #eef2df;
  text-align: center;
  font-size: 17px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Georgia, "Times New Roman", Times, serif;
}

#oppari {
  font-size: 17px;
  color: rgb(10, 172, 164);
}

/*Omat tiedot-sivu*/
.container2 {
  background-color: #eef2df;
  width: 60%;
  float: right;
  margin-top: 5%;
  margin-right: 5%;
  padding: 3%;
  border-radius: 10px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;
}

.container2 > p {
  margin-left: 3%;
}

#profile {
  width: 200px;
  height: auto;
  float: right;
  margin-top: -28%;
  margin-right: 10%;
  border-radius: 50%;
}

/*Gridien muotoilut Omat tiedot-sivulle*/
.grid-container2 {
  display: grid;
  float: right;
  grid-template-columns: 50% 50% 50%;
  grid-template-rows: 100%;
  grid-gap: 3%;
  margin-top: 3%;
  margin-right: 30%;
  margin-bottom: 10%;
}

.grid-container2 > div {
  background-color: #eef2df;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
  margin-left: 20%;
  margin-bottom: 3%;
}

#video {
  padding: 0;
  color: rgb(10, 172, 164);
  font-size: 16px;
}

/*Osaamisen sisältö*/

.container3 {
  background-color: #eef2df;
  width: 60%;
  float: right;
  margin-top: 3%;
  margin-right: 5%;
  padding: 3%;
  border-radius: 10px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;
}

.container3 > p {
  margin-left: 3%;
}

.tyokokemus {
  margin-left: -20%;
}

.tyokokemus > th,
td {
  text-align: left;
  padding: 2px;
  margin-right: -50%;
}

.nimitieto {
  border-bottom: solid grey;
}

.grid-container3 {
  display: grid;
  float: right;
  grid-template-columns: 45% 45% 45%;
  grid-template-rows: 100%;
  grid-gap: 3%;
  margin-top: 3%;
  margin-right: 23%;
  margin-bottom: 10%;
}

.grid-container3 > div {
  background-color: #eef2df;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Webska-sivu*/
.container {
  background-color: #eef2df;
  width: 60%;
  float: right;
  margin: 2% 7%;
  padding: 3%;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container > p,
h4 {
  font-size: 17px;
}

.container > h3 {
  font-size: 20px;
}

#angular {
  width: 20%;
  height: auto;
  float: right;
  margin-top: -15%;
}

#react {
  width: 30%;
  height: auto;
  float: right;
  margin-top: -12%;
  margin-right: -5%;
}

#svelte {
  width: 14%;
  height: auto;
  float: right;
  margin-top: -2%;
  margin-right: 3%;
}

/*Galleria-sivun muotoilut*/
#lintukoto_sivu {
  width: 400px;
  height: auto;
}

#lintukoto_ikkuna {
  width: 400px;
  height: auto;
}

#melearn_timantti_eka {
  width: 300px;
  height: auto;
}

#melearn_timantti_toka {
  width: 300px;
  height: auto;
}

#kissojen_kotisivut {
  width: 400px;
}
