body {
  background-image: url(./Kuvat/meri.png);
  background-repeat: no-repeat;
}

.landing > #first_pic {
  width: max-content;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.center_button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eef2df;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 3%;
  width: 12%;
  height: 6%;
  border: #eef2df solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {
  background-color: #eef2df;
  padding: 2%;
  color: #1f2617;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  padding-left: 10%;
  font-size: 20px;
  color: #1f2617;
}

.centered_link {
  padding-left: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.grid-container {
  display: grid;
  height: 300%;
  grid-template-columns: 28% 40% 18%;
  grid-template-rows: 100%;
  grid-gap: 3%;
  margin-top: 2%;
  margin-left: 5%;
}

.grid-container > div {
  background-color: #eef2df;
  text-align: center;
  font-size: 25px;
  border: #4d5955 solid 1px;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container2 {
  display: grid;
  height: 300%;
  grid-template-columns: 24% 64%;
  grid-template-rows: 100%;
  grid-gap: 3%;
  margin-top: 2%;
  margin-left: 5%;
}

.grid-container2 > div {
  background-color: #eef2df;
  text-align: center;
  font-size: 25px;
  border: #4d5955 solid 1px;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item1 {
  font-size: 14px;
}

.item1 > p {
  margin-bottom: 2%;
  padding-top: -1%;
}

.item2 {
  margin: 1%;
}

#profile {
  margin-top: 5%;
}

#video {
  padding: 0;
  color: rgb(12, 151, 105);
}

#angular {
  width: 20%;
  height: auto;
  float: right;
  margin-top: -10%;
}

li {
  list-style-type: none;
  margin: 1%;
  padding: 0;
}

ul {
  border: #1f2617 solid 1px;
  margin: 1%;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  background-color: #eef2df;
  margin: 2% 7%;
  padding: 3%;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container > p,
h4 {
  font-size: 17px;
}

.container > h3 {
  font-size: 20px;
}
